/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  letter-spacing: 0.5px;
}
/*Fonts*/
// @font-face {
//   font-family: "sf-compact";
//   src: url("assets/fonts/SF-Compact.ttf") format("opentype");
//   font-style: normal;
//   font-weight: 400;
// }
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("trueType");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-light";
  src: url("assets/fonts/Roboto-Light.ttf") format("trueType");
  font-style: normal;
  font-weight: 200;
  // letter-spacing: 0.8px;
}
